@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to your Home <a href="../Pages/Home/">Dashboard</a>.</p>
</div>
