@using User.Data.Entityes;
@using User.Data.Models;
@model string
@{
    ViewData["Title"] = "AddIncome";
}


<!DOCTYPE htmlA>
<html>

<body>
    <div class="sidebar">
        <a href="@Url.Action("Index", "Dashboard", new { UID = Model, timeFrame = TimeFrame.Weekly }))">Dashboard</a>
        <a href="@Url.Action("Index", "Transaction", new { UID = Model, transactionType = TransactionType.all })">Transactions</a>

    </div>
    <div class="content">

        <form class="add-income-form" method="POST" action="@Url.Action("AddIncomeTransaction", "Transaction", new {uid = Model})">
            <div class="add-income-container">
                <h1 class="add-income-title">Income</h1>
                <div class="add-income-form">
                    <div class="add-income-form-item">
                        <label for="value" class="add-income-form-label">Value</label>
                        <input type="text" id="value" name="value" class="add-income-form-input" placeholder="€ xx">
                    </div>
                    <div class="add-income-form-item">
                        <label for="date" class="add-income-form-label">Date</label>
                        <input type="text" id="date" name="date" class="add-income-form-input" placeholder="31/12/2023">
                    </div>
                    <div class="add-income-form-item">
                        <label for="title" class="add-income-form-label">Title</label>
                        <input type="text" id="title" name="title" class="add-income-form-input" placeholder="Market">
                    </div>
                    <div class="add-income-form-item">
                        <label for="description" class="add-income-form-label">Description</label>
                        <textarea id="description" name="description" class="add-income-form-textarea" placeholder="Lorem ipsum dolor sit amet"></textarea>
                    </div>
                </div>

                <div class="add-income-attachment">
                    <h2 class="add-income-attachment-title">Attachment</h2>
                    <div class="add-income-attachment-input-container">
                        <input type="file" id="attachment-input" class="add-income-attachment-input">
                        <label for="attachment-input" class="add-income-attachment-label">Select file</label>

                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Income</button>
        </form>
    </div>
</body>
</html> 